<!doctype html>
<html>
<head>
	<title>Google Maps API Basics</title>
	<link rel="stylesheet" href="/style.css">	
</head>
<body>
<div class="container">
	<div class="banner">
		<h1>Google Maps API Basics</h1>
	</div>
	<div class="navigation">
			<form action="/homepage" method="get">
				<input type="submit" value="Go Home""></input>
			</form>
			<form action="/key" method="get">
				<input type="submit" value="API Key"></input>
			</form>
            <form action="/basics" method="get">
                <input type="submit" value="Javascript Basics"></input>
			</form>
			<form action="/features" method="get">
				<input type="submit" value="Extra Features"></input>
			</form>	
	</div>
	<div class="content" id="bodyDiv">
		{{{body}}}
	</div>
</div>
</body>
</html>
