<h2>How to Obtain your API Key!</h2><h5>or better yet what's an API key?</h5>

<p>An API key is a unique indentifier that will be given to your from the web service or application that you will use to connect to the API. This key is not something you want to share with others - always make sure to remove it from code you are sharing with others. This is due to the fact that some services will decide to charge you depending on the usage of said Key.</p>

<p>Thankfully, Google makes it extremely easy on you to get an API key from them. All yu need is be logged into your google account (your gmail account counts!). Go to the <a href="https://developers.google.com/maps/documentation/javascript/">Google Maps Javascript API Homepage</a> and at the very top you will see a blue bar glaring at you.</p>

<center><img src="http://i.imgur.com/8wmgxaB.png"></center>

<h3>GET A KEY</h3>
<p>Click on the 'Get a Key' button to begin the process of retrieving your own API key for your website or application. Upon selecting that option, a pop-up appears that displays a list detailing what the Google guide entails.</p>

<ul><b>Activate the Google Maps Javascript API</b>
<li>Create or choose a project</li>
<li>Activate the Google Maps JavaScript API</li>
<li>Create appropriate keys</li></ul>

<p>From this point, we click continue.</p>

<h3>Google Developers Console</h3>

<p>Now, we find ourselves in the Google Developers Console user interface. This part might seem a little daunting at first, but it's actually surprising easy. We will simply be ignoring most of the interface from here on out to get our key.</p>

<center><img src="http://i.imgur.com/9ssQTv4.png" style="position: center;"></center>

<p>Select 'Create a new project as pictured above, and press continue. Creating a project for you could take a few seconds, so just be patient. Once the page loads, you are now on the API Manager interface with Credentials selected in the navagation bar. From here you can choose to name your API key or keep the default name of 'Browser Key 1'. </p>

<p>You will then be given up a pop-up with your API key, it will be an insanely long list of characters and numbers. No need to save it at this moment, you can access the API key from your credentials page whenever you wish now.</p>

<p>*Remember - do not share your API key with anyone!</p>
